<header id="header" class="">   

  <img src="../images/LogoTemp.png" alt="" class="logo">
  <a class="MobileMenu" ng-click="toggleMobileMenu()">
    <span class="icon-th-menu"></span>
  </a>  
  <nav ng-hide="MobileMenu" class="MobileMenu base-class">
    <ul>
      <a href="#" ng-click="toggleMobileMenu()"><li>ITEM 1 <span class="icon-circle-right"></span></li></a>
      <a href="#" ng-click="toggleMobileMenu()"><li>ITEM 2 <span class="icon-circle-right"></span></li></a>
      <a href="#" ng-click="toggleMobileMenu()"><li>ITEM 3 <span class="icon-circle-right"></span></li></a>
    </ul>
  </nav> 

</header><!-- /header -->

